<% author = find_author(current_page.data.author) %>
<% series_entries = series_entries(current_page.data.series) %>

<% wrap_layout :default do %>
  <article>
    <div class="post__header">
      <%= image_tag author.avatar_path, class: 'author__avatar', width: '60', height: '60' %>

      <div class="post__details">
        <span><%= author.name %></span>
        <span>&nbsp;-&nbsp;</span>
        <span><%= current_page.data.date.to_date.to_formatted_s(:long) %></span>
      </div>

      <h1 class="post__title"><%= current_page.data.title %></h1>
    </div>

    <br />

    <%= yield %>

    <div class="post__footer">
      <% if series_entries.any? %>
        <h3>Entries in this series</h3>
        <ul>
        <% series_entries.each do |entry| %>
          <li>
            <a href="<%= entry['uri'] %>" target="_blank"><%= entry.name %></a>
          </li>
        <% end %>
        </ul>
      <% end %>
    </div>
  </article>
<% end %>
